<!DOCTYPE html>
<html>
<head>
  <title><%= user.fullName %> - Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
      body {
          background-color: rgb(255, 253, 251); /* Adjust the color and thickness as needed */
          margin: 0; /* Remove default margin to ensure the border is flush with the viewport edges */
          padding: 0;
          box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
      }
      #profileTabs {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem; /* Adjust spacing as needed */
          margin-top: 1rem;
      }

      .nav-item {
          margin: 0 0.5rem; /* Adjust spacing between nav items */
      }

      .nav-link {
          text-align: center; /* Center text inside nav links */
      }
      .nav-tabs .nav-link.active {
          background-color: coral; /* Customize active tab color */
          color: #fff;
          
      }
      .about{
          display: flex;
          flex-flow: row wrap;
          column-gap: 0cap;
      }
      .breadcrumb-item + .breadcrumb-item::before {
          content: '>';
      }
      .card {
          margin-bottom: 20px;
          border-radius: 20px;
          border-color: rgb(214, 94, 8);
      }
      #about-card .card-body p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
      }
      .card-body p{
          text-align: center;
          margin-bottom: 0.5rem;
      }

      .card-title{
          text-align: center;
      }
      /* Style for the specific card with ID 'about-card' */
      #about-card {
          width:100cap;
          max-width: 500px;
          margin: auto;
          padding: 1rem;
          padding-bottom: 20px;
          box-shadow: 0 4px 8px rgba(227, 148, 89, 0.1);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }

      /* Style for the card body inside the specific card */
      #about-card .card-body {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 0.3rem;
      }

      /* Style for the content section inside the specific card */
      .about-content {
          display: flex;
          align-items: flex-start;
          width: 100%;
      }

      /* Style for the profile image section */
      .profile-image {
          flex: 0 0 auto;
          margin-right: 20px;
      }

      /* Style for the profile image */
      .profile-img {
          width: 180px;
          border-radius: 50%;
          object-fit: cover;
      }

      /* Style for the profile information section */
      .profile-info {
          flex: 1 1 auto;
      }

      /* Style for the card title inside the specific card */
      #about-card .card-title {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          text-align: center;
      }

      /* Style for the paragraphs inside the specific card */
      

      /* Style for the button inside the specific card */
      #about-card .btn-primary {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          background-color: coral;
      }
      .profile-head{
          text-align: center  ;
          padding-bottom: 30px;
      }

  </style>
</head>
<body>
    <div class="container mt-5">
      <div class="profile-head">
        <h2><%= user.fullName %>'s Profile</h2>
      </div>
  
      <!-- Personal Information Section --> 
      <div class="col-md-4">
        <div class="card" id="about-card">
          <div class="card-body" id="about">
            <h3 class="card-title">ABOUT</h3>
            <div class="about-content">
              <div class="profile-image">
                <img src="<%= user.profilePhotoUrl ? user.profilePhotoUrl : 'public/—Pngtree—default male avatar_5939655.png' %>" class="profile-img" alt="Profile Photo">
              </div>
              <div class="profile-info">
                <p><strong>User Name:</strong> <%= user.fullName %></p>
                <p><strong>Mobile Number:</strong> <%= user.phoneNumber %></p>
                <p><strong>Email address:</strong> <%= user.email %></p>
                <p><strong>PANCARD:</strong> <%= user.PANCARD_NUMBER %></p>
                <p><strong>Adhar Number:</strong> <%= user.AdharNumber %></p>
                <p><strong>Address:</strong> <%= user.address %></p>
                <p><strong>Pincode:</strong> <%= user.Pincode %></p>
                <a class="btn btn-primary" href="#" role="button">Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <ul class="nav nav-tabs mb-4" id="profileTabs">
        <li class="nav-item">
          <a class="nav-link active" id="organisation-tab" href="#">Donations Activity</a>
        </li>
      </ul>
  
      <div id="activity" class="content-section">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Donations</h3>
            <% if (donations.food.length > 0 ||  donations.groceries.length > 0 ||donations.clothes.length > 0 || donations.others.length > 0){ %>
              <% if (donations.food.length > 0) { %>
                <h4>Food donations</h4>
                <% donations.food.forEach(item => { %>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><%= item.item[0] %></li>
                      <li class="breadcrumb-item">Donation Id: <%= item.DonationId %></li>
                      <li class="breadcrumb-item">Status: <%= item.status %></li>
                      <% if (item.usedby != "") { %>
                        <li class="breadcrumb-item">Used By: <%= item.usedby %></li>
                      <% } %>
                      <li class="breadcrumb-item"><a href="#">view more</a></li>
                    </ol>
                  </nav>
                <% }); %>
              <% } %>
  
              <% if (donations.clothes.length > 0) { %>
                <h4>Clothing donations</h4>
                <% donations.clothes.forEach(item => { %>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><%= item.item[1] %></li>
                      <li class="breadcrumb-item">Donation Id: <%= item.DonationId %></li>
                      <li class="breadcrumb-item">Status: <%= item.status %></li>
                      <% if (item.usedby != "") { %>
                        <li class="breadcrumb-item">Used By: <%= item.usedby %></li>
                      <% } %>
                      <li class="breadcrumb-item"><a href="#">view more</a></li>
                    </ol>
                  </nav>
                <% }); %>
              <% } %>
  
              <% if (donations.groceries.length > 0) { %>
                <h4>Groceries donations</h4>
                <% donations.groceries.forEach(item => { %>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><%= item.item[1] %></li>
                      <li class="breadcrumb-item">Donation Id: <%= item.DonationId %></li>
                      <li class="breadcrumb-item">Status: <%= item.status %></li>
                      <% if (item.usedby != "") { %>
                        <li class="breadcrumb-item">Used By: <%= item.usedby %></li>
                      <% } %>
                      <li class="breadcrumb-item"><a href="#">view more</a></li>
                    </ol>
                  </nav>
                <% }); %>
              <% } %>
  
              <% if (donations.others.length > 0) { %>
                <h4>Other donations</h4>
                <% donations.others.forEach(item => { %>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><%= item.item %></li>
                      <li class="breadcrumb-item">Donation Id: <%= item.DonationId %></li>
                      <li class="breadcrumb-item">Status: <%= item.status %></li>
                      <% if (item.usedby != "") { %>
                        <li class="breadcrumb-item">Used By: <%= item.usedby %></li>
                      <% } %>
                      <li class="breadcrumb-item"><a href="#">view more</a></li>
                    </ol>
                  </nav>
                <% }); %>
              <% } %>
            <% } else { %>
              <p>No donations placed yet</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Add any necessary JavaScript here
    </script>
  </body>
  
</html>

