<!DOCTYPE html>
<html>
<head>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Include jQuery (required for Bootstrap) via CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <!-- Include Popper.js (required for Bootstrap) via CDN -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

  <!-- Include Bootstrap JS via CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Then include Bootstrap JavaScript -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script> -->
<style type="text/css">
  
  body{
    background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    ul.nav {
      margin:0;
      padding:0;
      list-style:none;
      height:36px; line-height:36px;
      background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      font-family:Arial, Helvetica, sans-serif;
      font-size:13px;
      border-radius: 10px;
  }
  ul.nav li {
      border-right:1px solid #189b80; /* you can change the border color matching to your background color */
      float:right;
  }
  ul.nav a {
      display:block;
      padding:0 28px;
      color:ghostwhite;
      text-decoration:none;
  }
  hr{
    position: relative;
          top: 10px;
          border: none;
          margin-left: 150px;
          margin-right: 150px;
          height: 8px;
          background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;


          margin-bottom: 30px;
  }.card {
    width: 19em;
    height: 34em;
    background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }



  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }

  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }

  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }

  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .card a {
    color: white;
    transition: .4s ease-in-out;
  }

  .card a:hover {
    color: red;
  }

  .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }

  .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }
  .avatar {
    vertical-align: middle;
    width: 78px;
    height: 78px;
    border-radius: 50%;
  
  }
  .column {
    float: left;
    width: 25%;
  padding: 0 10px;
}
</style>
</head>
<body>

  <h1 align="center" style="font-family: Arial, Helvetica, sans-serif; color: #232526;">DONATIONS AVAILABLE</h1>
  <hr>
  <% if (marks && marks.length > 0) { %>
    <% if (marks[0].Donation === 'Food') { %>
      <% marks.forEach((Donation, i) => { %>
        <div class="column">
          <div class="card">
            
            <span>Profile</span>
            <p style="color: whitesmoke; padding-left: 20px;">Mobile Number: <%= Donation.number %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Items: <%= Donation.item.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Food Type: <%= Donation.type %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Date: <%= Donation.date %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Location: <%= Donation.location %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Time: <%= Donation.time %></p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-card-index="<%= i %>" number="<%= Donation.number %>" id="myButton">Request</button>
          </div>
        </div>
      <% }); %>
    <% } else if (marks[0].Donation === 'Clothes') { %>
      <% marks.forEach((Donation, i) => { %>
        <div class="column">
          <div class="card">
            <span>Profile</span>
            <p style="color: whitesmoke; padding-left: 20px;">Mobile Number: <%= Donation.number %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Category: <%= Donation.category.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Gender: <%= Donation.gender.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Quantities: <%= Donation.quantity.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Date: <%= Donation.date %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Location: <%= Donation.location %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Time: <%= Donation.time %></p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-card-index="<%= i %>" number="<%= Donation.number %>" id="myButton">Request</button>
          </div>
        </div>
      <% }); %>
    <% } else if (marks[0].Donation === 'Groceries') { %>
      <% marks.forEach((Donation, i) => { %>
        <div class="column">
          <div class="card">
            <span>Profile</span>
            <p style="color: whitesmoke; padding-left: 20px;">Mobile Number: <%= Donation.number %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Items: <%= Donation.item.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Quantities: <%= Donation.quantity.join(', ') %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Date: <%= Donation.date %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Location: <%= Donation.location %></p>
            <p style="color: whitesmoke; padding-left: 20px;">Time: <%= Donation.time %></p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-card-index="<%= i %>" number="<%= Donation.number %>" id="myButton">Request</button>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <h2>There are no funds of this type placed by Donors</h2>
    <% } %>
  <% } else { %>
    <h2 style="text-align: center;">There are no funds placed by Donors</h2>
  <% } %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="send-message-button">Send SMS</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    const acceptButtons = document.querySelectorAll('.btn-primary');

    acceptButtons.forEach(button => {
      button.addEventListener('click', function() {
        const number = this.getAttribute('number');
        const modal = document.querySelector("#exampleModal");
        const modalTitle = modal.querySelector(".modal-title");
        const modalInput = modal.querySelector(".modal-body input");
        const modalmsg = modal.querySelector('#message-text');

        modalTitle.textContent = "New message to " + number;
        modalInput.value = number;

        const sendSMSButton = document.getElementById('send-message-button');
        sendSMSButton.addEventListener('click', function() {
          const linkURL = '/acc?number=' + number + '&msg=' + encodeURIComponent(modalmsg.value);
          const anchor = document.createElement('a');
          anchor.href = linkURL;
          anchor.target = '_blank';
          anchor.click();
        });

        console.log('Accepted card for number:', number);
      });
    });
  </script>
</body>

</body>
</html>

